# https://www.kernel.org/pub/software/scm/git/docs/gitattributes.html

# Ignore all test and documentation with "export-ignore".
/.github            export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/.editorconfig      export-ignore
/phpunit.xml        export-ignore
/tests              export-ignore
/docs               export-ignore
/docs-src           export-ignore
/banner.png         export-ignore
