<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Package Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
